In [1]:
import pandas as pd

In [2]:
dados = pd.read_excel(r'C:\Users\Cliente\Desktop\Engenharia_de_dados_com_Python\SGBDS_PYTHON\4_ETL Pandas\arquivos_excel\Produto.xlsx')

In [3]:
# Renomeando as colunas do DataFrame
dados = dados.rename(columns={'Name':'Full_Name'})
dados.head(1)

   ID        Full_Name  Price  Id_Category
0   0  Sapato vermelho     96            0

In [4]:
# Renomeando as colunas usando vari√°vel
colunas = {'Full_Name':'Name', 'ID':'Id'}
dados = dados.rename(columns=colunas)
dados.head(1)

   Id             Name  Price  Id_Category
0   0  Sapato vermelho     96            0