In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\Cliente\Desktop\Engenharia_de_dados_com_Python\SGBDS_PYTHON\4_ETL Pandas\arquivos_csv\Clientes.csv", delimiter=',')
df.head(5)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [ ]:
# Filtrar um item específico de uma coluna
df_estado = df.loc[df['state'] == 'Mato Grosso']
df_estado

In [ ]:
# Escolher estados específicos
estados = ['Rio de Janeiro', 'Ceará', 'Rondônia', 'Bahia']
df_estados = df.loc[df['state'].isin(estados)]
df_estados.head(5)

In [53]:
# Substituir os valores NaN. Esse valor quebra na leitura do dataframe
df['street'] = df['street'].fillna('Não registrado')
df['number'] = df['number'].fillna('Sem número')
df['additionals'] = df['additionals'].fillna('Sem informação adicional')
df['email'] = df['email'].fillna('Email não cadastrado')
df['state'] = df['state'].fillna('Estado não informado')

In [ ]:
df

#### Método replace

In [55]:
# df = pd.read_csv(caminho)

In [ ]:
df['state'] = df['state'].replace('São Paulo', 'Sao Paulo')
df

In [ ]:
# Usando variáveis como parâmetro no método replace
valor_atual = 'Amazonas'
valor_substituto = 'AM'

df['state'] = df['state'].replace(valor_atual, valor_substituto)
df.head(3)

In [ ]:
# Fazendo a substituição de vários valores ao mesmo tempo
df_lista_estados = {'Paraná': 'PR', 'Rondônia': 'RO', 'Pará': 'PA', 'Minas Gerais': 'MG'}
df['state'] = df['state'].replace(df_lista_estados)
df

In [10]:
import pandas as pd
debug_caminho = r"C:\Users\Cliente\Desktop\Engenharia_de_dados_com_Python\SGBDS_PYTHON\4_ETL Pandas\arquivos_excel\Caquinha.xlsx"

df_debug = pd.read_excel(debug_caminho)
df_debug.head()

   Vendedor  Vendas
0    Lucas      625
1     Maria     594
2   Natália     650
3  Henrique     862
4    marcos     452