In [2]:
import pandas as pd
import pyodbc

server = 'DESKTOP-1Q56108' # Nome do servidor SQL Server
database = 'Python'        # Nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};'f'SERVER={server};'f'DATABASE={database};''Trusted_Connection=yes;')
cursor = conexaoDB.cursor() # criando o cursor de comando para executar as consultas (queries)

In [3]:
query = """
SELECT * FROM [dbo].[Itens]
WHERE total_price > 5000
"""

In [5]:
vendas = pd.read_sql(query, conexaoDB)
vendas.head()

C:\Users\Cliente\AppData\Local\Temp\ipykernel_11624\2443137047.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  vendas = pd.read_sql(query, conexaoDB)

    id  order_id  product_id  quantity  total_price
0   29      5849          14         4       7096.0
1  133      1067          24         4      10652.0
2  160      1497          24         5      13315.0
3  168       614          10         4       7808.0
4  217      2736          23         2       5590.0

#### Criando conex√£o com o segundo banco de dados/servidor

In [ ]:
import pandas as pd
import pyodbc

server = 'DESKTOP-1Q56108' # Nome do servidor SQL Server
database = 'Python'        # Nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};'f'SERVER={server};'f'DATABASE={database};''Trusted_Connection=yes;')
cursor = conexaoDB.cursor() # criando o cursor de comando para executar as consultas (queries)