In [2]:
import pandas as pd
import pyodbc

server = 'DESKTOP-1Q56108' # Nome do servidor SQL Server
database = 'Python'        # Nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'f'SERVER={server};'f'DATABASE={database};''Trusted_Connection=yes;')
cursor = conexaoDB.cursor() # criando o cursor de comando para executar as consultas (queries)

#### Caso seja preciso de usuário e senha para acessar o banco de dados

In [ ]:
'''
server = 'DESKTOP-1Q56108' # Nome do servidor SQL Server
database = 'Python'      # Nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER = {ODBC Driver 17 for SQL Server};'
                            f'SERVER={server};'
                            f'DATABASE={database};'
                            f'usuario='
                            f'senha='
                            f'Trust_Connection=yes;')

cursor = conexaoDB.cursor() # criando o cursor de comando para executar as consultas (queries)
'''

In [11]:
dados = pd.read_excel(r'C:\Users\Cliente\Desktop\Engenharia_de_dados_com_Python\SGBDS_PYTHON\4_ETL Pandas\arquivos_excel\Produto.xlsx')
#dados.head()

In [13]:
dados.columns

Index(['ID', 'Name', 'Price', 'Id_Category'], dtype='object')

In [21]:
str(dados.columns).replace("'", "")

'Index([ID, Name, Price, Id_Category], dtype=object)'

#### Inserindo dataframe no banco de dados

In [ ]:
for index, linha in dados.iterrows():
    # Insere os dados nas colunas              # Banco de dados                                    # DataFrame
    cursor.execute("INSERT INTO [Produtos](id, nome, preco, id_categoria) values(?, ?, ?, ?)", linha.ID, linha.Name, linha.Price, linha.Id_Category)

cursor.commit()     # Valida os dados no SQL Server
cursor.close()      # Fecha o cursor
conexaoDB.close()   # Fecha a conexão do SQL Server