In [5]:
import pandas as pd
import pyodbc

server = 'DESKTOP-1Q56108' # Nome do servidor SQL Server
database = 'Python'        # Nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'f'SERVER={server};'f'DATABASE={database};''Trusted_Connection=yes;')
cursor = conexaoDB.cursor() # criando o cursor de comando para executar as consultas (queries)

In [6]:
dados_ordens = pd.read_excel(r'C:\Users\Cliente\Desktop\Engenharia_de_dados_com_Python\SGBDS_PYTHON\4_ETL Pandas\arquivos_excel\Ordens.xlsx')
# dados_itens.head()

In [7]:
cursor.execute('DELETE FROM [Itens]')
cursor.commit()

In [8]:
dados_ordens['created_at'] = pd.to_datetime(dados_ordens['created_at'])
dados_ordens.head(5)

   id          created_at  customer_id              status
0   0 2019-08-28 03:36:31           91            entregue
1   1 2019-08-16 20:21:30            7            entregue
2   2 2019-07-11 11:00:06           26  pagamento_pendente
3   3 2019-08-27 21:04:41           92  pagamento_pendente
4   4 2019-11-03 19:58:37           63    entrega_pendente

In [10]:
for index, linha in dados_ordens.iterrows():
    # Insere os dados nas colunas
    cursor.execute("INSERT INTO [Ordens](id, created_at, customer_id, situacao) values(?, ?, ?, ?)", linha.id, linha.created_at, linha.customer_id, linha.status)

cursor.commit()     # Valida os dados no SQL Server
cursor.close()      # Fecha o cursor
conexaoDB.close()   # Fecha a conex√£o do SQL Server