#### Conexão básica SQLite

In [16]:
import sqlite3
con = sqlite3.connect('tutorial.db')
cursor = con.cursor()

# cursor.execute("CREATE TABLE produto (id, nome, valor)")

cursor.execute("INSERT INTO produto (id, nome, valor) VALUES (1, 'Tenis', 200.0)")

con.commit()
con.close()

In [17]:
# Ver dados em um dataframe
import sqlite3
import pandas as pd

con = sqlite3.connect('tutorial.db')

query = 'SELECT * FROM produto'
df = pd.read_sql(query, con)

con.close()
df.head()

   id    nome  valor
0   1   Tenis  200.0
1   2  Panela  100.0

In [3]:
import sqlite3
con = sqlite3.connect(r'C:\Users\Cliente\Desktop\Engenharia_de_dados_com_Python\SGBDS_PYTHON\SQLite\Scripts\Teste.db')
cursor = con.cursor()
# cursor.execute("CREATE TABLE produto (id, nome, valor)")

# cursor.execute("INSERT INTO produto (id, nome, valor) VALUES (1, 'Tenis', 200.0)")

con.commit()
con.close()